{
  "openapi": "3.0.1",
  "info": {
    "title": "Management API",
    "version": "1.0",
    "description": "Configuration endpoints for the Extole platform: campaigns, components, audiences, persons, rewards, reporting, integrations setup, and administrative tooling."
  },
  "servers": [
    {
      "url": "https://api.extole.io",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/audiences": {
      "get": {
        "tags": ["Audiences"],
        "summary": "List audiences",
        "description": "Returns the client's audience definitions sorted by creation date, newest first. By default archived audiences are excluded; pass `include_archived=true` to include them. Use `limit` and `offset` to page (defaults: `limit=1000`, `offset=0`). Each entry is the editable definition - for runtime targeting reads, use `GET /v1/audiences/built` instead.",
        "operationId": "listAudiences",
        "parameters": [
          {
            "name": "include_archived",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AudienceResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management",
        "x-extole-visibility": "visible",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://api.extole.io/v1/audiences?include_archived=false&limit=50\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\n  \"https://api.extole.io/v1/audiences?include_archived=false&limit=50\",\n  {\n    method: \"GET\",\n    headers: {\n      \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n      \"Accept\": \"application/json\"\n    }\n  }\n);\nconst audiences = await response.json();\nconsole.log(audiences.length);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\n\nresponse = requests.get(\n    \"https://api.extole.io/v1/audiences\",\n    headers={\n        \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n        \"Accept\": \"application/json\",\n    },\n    params={\"include_archived\": \"false\", \"limit\": 50},\n)\nresponse.raise_for_status()\naudiences = response.json()\nprint(len(audiences))"
          }
        ]
      },
      "post": {
        "tags": ["Audiences"],
        "summary": "Create audience",
        "description": "Creates a new audience definition. `name` is required; `enabled`, `tags`, and `component_references` are optional. New audiences default to enabled. Tags must be 255 characters or fewer each; the resolved name must also be 255 characters or fewer. Returns the created audience.",
        "operationId": "createAudience",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created audience.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The named examples below cover the validation errors that are specific to this operation. Other 400 causes include malformed JSON, an empty request body, and an invalid `Time-Zone` header - inspect the response `code` field for the specific error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_audience_name": {
                    "$ref": "#/components/examples/missing_audience_name"
                  },
                  "invalid_audience_tag": {
                    "$ref": "#/components/examples/invalid_audience_tag"
                  },
                  "invalid_component_reference": {
                    "$ref": "#/components/examples/invalid_component_reference"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management",
        "x-extole-visibility": "visible",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST \"https://api.extole.io/v1/audiences\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Accept: application/json\" \\\n  -d '{\n    \"name\": \"vip_customers\",\n    \"enabled\": true,\n    \"tags\": [\"loyalty\", \"vip\"]\n  }'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v1/audiences\", {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n    \"Content-Type\": \"application/json\",\n    \"Accept\": \"application/json\"\n  },\n  body: JSON.stringify({\n    name: \"vip_customers\",\n    enabled: true,\n    tags: [\"loyalty\", \"vip\"]\n  })\n});\nconst audience = await response.json();\nconsole.log(audience.id);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.extole.io/v1/audiences\",\n    headers={\n        \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n        \"Content-Type\": \"application/json\",\n        \"Accept\": \"application/json\",\n    },\n    json={\n        \"name\": \"vip_customers\",\n        \"enabled\": True,\n        \"tags\": [\"loyalty\", \"vip\"],\n    },\n)\nresponse.raise_for_status()\naudience = response.json()\nprint(audience[\"id\"])"
          }
        ]
      }
    },
    "/v1/audiences/built": {
      "get": {
        "tags": ["Audiences"],
        "summary": "List built audiences",
        "description": "Returns the rendered (built) audience snapshots that the runtime evaluates against - the resolved name, enabled flag, tags, and component references for every audience the client owns. Filter by `name` (supports a trailing `*` wildcard), by `enabled` (`ENABLED`, `DISABLED`, or `ANY`), and by archived status. Use `limit` and `offset` to page (defaults: `limit=1000`, `offset=0`). Use `GET /v1/audiences` for the editable definitions.",
        "operationId": "listBuiltAudiences",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "enabled",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Filter applied by `GET /v1/audiences/built?enabled=...`. `ENABLED` returns only audiences whose enabled flag resolves to `true`, `DISABLED` only those that resolve to `false`, and `ANY` returns both.",
              "enum": ["ANY", "DISABLED", "ENABLED"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BuiltAudienceResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management",
        "x-extole-visibility": "visible",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://api.extole.io/v1/audiences/built?enabled=ENABLED&limit=50\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\n  \"https://api.extole.io/v1/audiences/built?enabled=ENABLED&limit=50\",\n  {\n    method: \"GET\",\n    headers: {\n      \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n      \"Accept\": \"application/json\"\n    }\n  }\n);\nconst builtAudiences = await response.json();\nconsole.log(builtAudiences.length);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\n\nresponse = requests.get(\n    \"https://api.extole.io/v1/audiences/built\",\n    headers={\n        \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n        \"Accept\": \"application/json\",\n    },\n    params={\"enabled\": \"ENABLED\", \"limit\": 50},\n)\nresponse.raise_for_status()\nbuilt_audiences = response.json()\nprint(len(built_audiences))"
          }
        ]
      }
    },
    "/v1/audiences/{audience_id}": {
      "get": {
        "tags": ["Audiences"],
        "summary": "Get audience",
        "description": "Returns the editable audience definition for the supplied `audience_id`, including its name, enabled state, tags, and the campaign components that reference it. For the rendered (runtime) snapshot use `GET /v1/audiences/{audience_id}/built` instead.",
        "operationId": "getAudience",
        "parameters": [
          {
            "name": "audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audience definition.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceResponse"
                }
              }
            }
          },
          "400": {
            "description": "The supplied `audience_id` does not match an existing audience for this client. Inspect the response `code` field for the specific error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "audience_not_found": {
                    "$ref": "#/components/examples/audience_not_found"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management",
        "x-extole-visibility": "visible",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://api.extole.io/v1/audiences/AUDIENCE_ID\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v1/audiences/AUDIENCE_ID\", {\n  method: \"GET\",\n  headers: {\n    \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n    \"Accept\": \"application/json\"\n  }\n});\nconst audience = await response.json();\nconsole.log(audience.id, audience.name);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\n\nresponse = requests.get(\n    \"https://api.extole.io/v1/audiences/AUDIENCE_ID\",\n    headers={\n        \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n        \"Accept\": \"application/json\",\n    },\n)\nresponse.raise_for_status()\naudience = response.json()\nprint(audience[\"id\"], audience[\"name\"])"
          }
        ]
      },
      "put": {
        "tags": ["Audiences"],
        "summary": "Update audience",
        "description": "Updates an existing audience. Only fields supplied in the body are changed; omitted fields are left untouched. Sending `null` for `name` returns `400 invalid_null` because `name` is a required attribute on the audience. Returns the updated audience.",
        "operationId": "updateAudience",
        "parameters": [
          {
            "name": "audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated audience.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The named examples below cover the validation errors that are specific to this operation. Other 400 causes include malformed JSON, an empty request body, and an invalid `Time-Zone` header - inspect the response `code` field for the specific error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "audience_not_found": {
                    "$ref": "#/components/examples/audience_not_found"
                  },
                  "invalid_audience_name": {
                    "$ref": "#/components/examples/invalid_audience_name"
                  },
                  "invalid_audience_tag": {
                    "$ref": "#/components/examples/invalid_audience_tag"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management",
        "x-extole-visibility": "visible",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X PUT \"https://api.extole.io/v1/audiences/AUDIENCE_ID\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Accept: application/json\" \\\n  -d '{\n    \"enabled\": false,\n    \"tags\": [\"loyalty\", \"vip\", \"paused\"]\n  }'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v1/audiences/AUDIENCE_ID\", {\n  method: \"PUT\",\n  headers: {\n    \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n    \"Content-Type\": \"application/json\",\n    \"Accept\": \"application/json\"\n  },\n  body: JSON.stringify({\n    enabled: false,\n    tags: [\"loyalty\", \"vip\", \"paused\"]\n  })\n});\nconst audience = await response.json();\nconsole.log(audience.id, audience.enabled);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\n\nresponse = requests.put(\n    \"https://api.extole.io/v1/audiences/AUDIENCE_ID\",\n    headers={\n        \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n        \"Content-Type\": \"application/json\",\n        \"Accept\": \"application/json\",\n    },\n    json={\n        \"enabled\": False,\n        \"tags\": [\"loyalty\", \"vip\", \"paused\"],\n    },\n)\nresponse.raise_for_status()\naudience = response.json()\nprint(audience[\"id\"], audience[\"enabled\"])"
          }
        ]
      },
      "delete": {
        "tags": ["Audiences"],
        "summary": "Archive audience",
        "description": "Soft-archives the audience. Archived audiences disappear from default `GET /v1/audiences` and `GET /v1/audiences/built` responses; pass `include_archived=true` to surface them. Reversible via `POST /v1/audiences/{audience_id}/unarchive`. Fails if the audience is still referenced by a campaign-controller membership trigger, a create- or remove-membership controller action, or a campaign component variable.",
        "operationId": "archiveAudience",
        "parameters": [
          {
            "name": "audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archived audience.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The named examples below cover the most common reasons an audience cannot be archived, deleted, or unarchived: it is still referenced by a campaign-controller membership trigger, by a create-/remove-membership controller action, or by a campaign component variable. The audience must be detached from those references before the lifecycle operation can succeed. The full set of association codes is auto-derived; inspect the response `code` field for the specific error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "audience_associated_with_audience_membership_controller_trigger": {
                    "$ref": "#/components/examples/audience_associated_with_audience_membership_controller_trigger"
                  },
                  "audience_associated_with_create_membership_controller_action": {
                    "$ref": "#/components/examples/audience_associated_with_create_membership_controller_action"
                  },
                  "audience_associated_with_component_variable": {
                    "$ref": "#/components/examples/audience_associated_with_component_variable"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management",
        "x-extole-visibility": "visible",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X DELETE \"https://api.extole.io/v1/audiences/AUDIENCE_ID\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\"https://api.extole.io/v1/audiences/AUDIENCE_ID\", {\n  method: \"DELETE\",\n  headers: {\n    \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n    \"Accept\": \"application/json\"\n  }\n});\nconst archived = await response.json();\nconsole.log(archived.id);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\n\nresponse = requests.delete(\n    \"https://api.extole.io/v1/audiences/AUDIENCE_ID\",\n    headers={\n        \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n        \"Accept\": \"application/json\",\n    },\n)\nresponse.raise_for_status()\narchived = response.json()\nprint(archived[\"id\"])"
          }
        ]
      }
    },
    "/v1/audiences/{audience_id}/built": {
      "get": {
        "tags": ["Audiences"],
        "summary": "Get built audience",
        "description": "Returns the rendered (built) snapshot for the supplied `audience_id`. The snapshot has the same shape as `GET /v1/audiences/{audience_id}/built` items in the list response and is what the runtime evaluates against during targeting.",
        "operationId": "getBuiltAudience",
        "parameters": [
          {
            "name": "audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Built audience snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuiltAudienceResponse"
                }
              }
            }
          },
          "400": {
            "description": "The supplied `audience_id` does not match an existing audience for this client. Inspect the response `code` field for the specific error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "audience_not_found": {
                    "$ref": "#/components/examples/audience_not_found"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management",
        "x-extole-visibility": "visible",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X GET \"https://api.extole.io/v1/audiences/AUDIENCE_ID/built\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\n  \"https://api.extole.io/v1/audiences/AUDIENCE_ID/built\",\n  {\n    method: \"GET\",\n    headers: {\n      \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n      \"Accept\": \"application/json\"\n    }\n  }\n);\nconst builtAudience = await response.json();\nconsole.log(builtAudience.id, builtAudience.name, builtAudience.enabled);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\n\nresponse = requests.get(\n    \"https://api.extole.io/v1/audiences/AUDIENCE_ID/built\",\n    headers={\n        \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n        \"Accept\": \"application/json\",\n    },\n)\nresponse.raise_for_status()\nbuilt_audience = response.json()\nprint(built_audience[\"id\"], built_audience[\"name\"], built_audience[\"enabled\"])"
          }
        ]
      }
    },
    "/v1/audiences/{audience_id}/delete": {
      "post": {
        "tags": ["Audiences"],
        "summary": "Delete audience",
        "description": "Hard-deletes the audience. Unlike `DELETE /v1/audiences/{audience_id}` (which archives and is reversible), a deleted audience cannot be recovered. Fails with the same association errors as archive: the audience must be detached from any campaign-controller membership trigger, create- or remove-membership controller action, or campaign component variable before deletion can succeed.",
        "operationId": "deleteAudience",
        "parameters": [
          {
            "name": "audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted audience.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The named examples below cover the most common reasons an audience cannot be archived, deleted, or unarchived: it is still referenced by a campaign-controller membership trigger, by a create-/remove-membership controller action, or by a campaign component variable. The audience must be detached from those references before the lifecycle operation can succeed. The full set of association codes is auto-derived; inspect the response `code` field for the specific error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "audience_associated_with_audience_membership_controller_trigger": {
                    "$ref": "#/components/examples/audience_associated_with_audience_membership_controller_trigger"
                  },
                  "audience_associated_with_remove_membership_controller_action": {
                    "$ref": "#/components/examples/audience_associated_with_remove_membership_controller_action"
                  },
                  "audience_associated_with_component_variable": {
                    "$ref": "#/components/examples/audience_associated_with_component_variable"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management",
        "x-extole-visibility": "visible",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST \"https://api.extole.io/v1/audiences/AUDIENCE_ID/delete\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "javascript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch(\n  \"https://api.extole.io/v1/audiences/AUDIENCE_ID/delete\",\n  {\n    method: \"POST\",\n    headers: {\n      \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n      \"Accept\": \"application/json\"\n    }\n  }\n);\nconst deleted = await response.json();\nconsole.log(deleted.id);"
          },
          {
            "lang": "python",
            "label": "Python (requests)",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.extole.io/v1/audiences/AUDIENCE_ID/delete\",\n    headers={\n        \"Authorization\": \"Bearer YOUR_ACCESS_TOKEN\",\n        \"Accept\": \"application/json\",\n    },\n)\nresponse.raise_for_status()\ndeleted = response.json()\nprint(deleted[\"id\"])"
          }
        ]
      }
    },
    "/v1/audiences/{audience_id}/members": {
      "get": {
        "tags": ["Audiences"],
        "summary": "List audience member IDs",
        "description": "Returns the person IDs of all current members of the specified audience.",
        "operationId": "listAudienceMemberIds",
        "parameters": [
          {
            "name": "audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "has_data_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "include_data_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "audience_not_found": {
                    "$ref": "#/components/examples/audience_not_found"
                  },
                  "invalid_query_limit": {
                    "$ref": "#/components/examples/invalid_query_limit"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management",
        "x-extole-visibility": "visible"
      }
    },
    "/v1/audiences/{audience_id}/members/download{format}": {
      "get": {
        "tags": ["Audiences"],
        "summary": "Download audience members",
        "description": "Downloads the full member list for the specified audience. Append a format extension (`.csv`, `.json`, `.xlsx`) to select the download format.",
        "operationId": "downloadAudienceMembers",
        "parameters": [
          {
            "name": "audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "(\\.csv|\\.json|\\.xlsx)?",
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "audience_not_found": {
                    "$ref": "#/components/examples/audience_not_found"
                  },
                  "invalid_query_limit": {
                    "$ref": "#/components/examples/invalid_query_limit"
                  },
                  "audience_member_list_format_not_supported": {
                    "$ref": "#/components/examples/audience_member_list_format_not_supported"
                  },
                  "audience_member_list_content_type_not_supported": {
                    "$ref": "#/components/examples/audience_member_list_content_type_not_supported"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management",
        "x-extole-visibility": "visible"
      }
    },
    "/v1/audiences/{audience_id}/members/view/details": {
      "get": {
        "tags": ["Audiences"],
        "summary": "List audience members",
        "description": "Returns detailed profiles for all current members of the specified audience.",
        "operationId": "listAudienceMembers",
        "parameters": [
          {
            "name": "audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "has_data_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "include_data_attributes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AudienceMemberWithDataResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "audience_not_found": {
                    "$ref": "#/components/examples/audience_not_found"
                  },
                  "invalid_query_limit": {
                    "$ref": "#/components/examples/invalid_query_limit"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management",
        "x-extole-visibility": "visible"
      }
    },
    "/v1/audiences/{audience_id}/operations": {
      "get": {
        "tags": ["Audiences"],
        "summary": "List audience operations",
        "description": "Returns all operations for the specified audience, optionally filtered by the provided query parameters.",
        "operationId": "listAudienceOperations",
        "parameters": [
          {
            "name": "audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "audience_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "states",
            "in": "query",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "BUILDING",
                  "CANCELED",
                  "EXPIRED",
                  "FAILED",
                  "PREPARING",
                  "READY",
                  "VALIDATING"
                ]
              }
            }
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["ACTION", "ADD", "REMOVE", "REPLACE"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AudienceOperationResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "audience_operation_audience_not_found": {
                    "$ref": "#/components/examples/audience_operation_audience_not_found"
                  },
                  "audience_operation_operation_not_found": {
                    "$ref": "#/components/examples/audience_operation_operation_not_found"
                  },
                  "audience_operation_another_operation_in_progress": {
                    "$ref": "#/components/examples/audience_operation_another_operation_in_progress"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management",
        "x-extole-visibility": "visible"
      },
      "post": {
        "tags": ["Audiences"],
        "summary": "Create an audience operation",
        "description": "Creates a new operation for the specified audience. An operation modifies audience membership by adding, removing, or syncing members from a data source.",
        "operationId": "createAudienceOperation",
        "parameters": [
          {
            "name": "audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceOperationCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceOperationResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "audience_operation_missing_type": {
                    "$ref": "#/components/examples/audience_operation_missing_type"
                  },
                  "audience_operation_missing_data_source": {
                    "$ref": "#/components/examples/audience_operation_missing_data_source"
                  },
                  "audience_operation_missing_data_source_type": {
                    "$ref": "#/components/examples/audience_operation_missing_data_source_type"
                  },
                  "audience_operation_audience_not_found": {
                    "$ref": "#/components/examples/audience_operation_audience_not_found"
                  },
                  "audience_operation_operation_not_found": {
                    "$ref": "#/components/examples/audience_operation_operation_not_found"
                  },
                  "audience_operation_another_operation_in_progress": {
                    "$ref": "#/components/examples/audience_operation_another_operation_in_progress"
                  },
                  "invalid_identity_key_value": {
                    "$ref": "#/components/examples/invalid_identity_key_value"
                  },
                  "modification_audience_operation_file_asset_data_source_file_asset_not_found": {
                    "$ref": "#/components/examples/modification_audience_operation_file_asset_data_source_file_asset_not_found"
                  },
                  "modification_audience_operation_file_asset_data_source_missing_file_asset_id": {
                    "$ref": "#/components/examples/modification_audience_operation_file_asset_data_source_missing_file_asset_id"
                  },
                  "modification_audience_operation_file_asset_data_source_unsupported_file_asset_format": {
                    "$ref": "#/components/examples/modification_audience_operation_file_asset_data_source_unsupported_file_asset_format"
                  },
                  "modification_audience_operation_file_asset_data_source_empty_file_asset": {
                    "$ref": "#/components/examples/modification_audience_operation_file_asset_data_source_empty_file_asset"
                  },
                  "modification_audience_operation_report_data_source_report_not_found": {
                    "$ref": "#/components/examples/modification_audience_operation_report_data_source_report_not_found"
                  },
                  "modification_audience_operation_report_data_source_missing_report_id": {
                    "$ref": "#/components/examples/modification_audience_operation_report_data_source_missing_report_id"
                  },
                  "modification_audience_operation_report_data_source_report_not_accessible": {
                    "$ref": "#/components/examples/modification_audience_operation_report_data_source_report_not_accessible"
                  },
                  "action_audience_operation_action_data_source_missing_event_name": {
                    "$ref": "#/components/examples/action_audience_operation_action_data_source_missing_event_name"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management",
        "x-extole-visibility": "visible"
      }
    },
    "/v1/audiences/{audience_id}/operations/{operation_id}": {
      "get": {
        "tags": ["Audiences"],
        "summary": "Get an audience operation",
        "description": "Returns the audience operation identified by its operation ID for the specified audience.",
        "operationId": "getAudienceOperation",
        "parameters": [
          {
            "name": "audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceOperationResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "audience_operation_audience_not_found": {
                    "$ref": "#/components/examples/audience_operation_audience_not_found"
                  },
                  "audience_operation_operation_not_found": {
                    "$ref": "#/components/examples/audience_operation_operation_not_found"
                  },
                  "audience_operation_another_operation_in_progress": {
                    "$ref": "#/components/examples/audience_operation_another_operation_in_progress"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management",
        "x-extole-visibility": "visible"
      }
    },
    "/v1/audiences/{audience_id}/operations/{operation_id}/cancel": {
      "post": {
        "tags": ["Audiences"],
        "summary": "Cancel an audience operation",
        "description": "Cancels a pending or in-progress audience operation identified by its operation ID.",
        "operationId": "cancelAudienceOperation",
        "parameters": [
          {
            "name": "audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceOperationStateResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "audience_operation_audience_not_found": {
                    "$ref": "#/components/examples/audience_operation_audience_not_found"
                  },
                  "audience_operation_operation_not_found": {
                    "$ref": "#/components/examples/audience_operation_operation_not_found"
                  },
                  "audience_operation_another_operation_in_progress": {
                    "$ref": "#/components/examples/audience_operation_another_operation_in_progress"
                  },
                  "cancel_audience_operation_type_not_supported": {
                    "$ref": "#/components/examples/cancel_audience_operation_type_not_supported"
                  },
                  "cancel_audience_operation_data_source_type_not_supported": {
                    "$ref": "#/components/examples/cancel_audience_operation_data_source_type_not_supported"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management",
        "x-extole-visibility": "visible"
      }
    },
    "/v1/audiences/{audience_id}/operations/{operation_id}/retry": {
      "post": {
        "tags": ["Audiences"],
        "summary": "Retry an audience operation",
        "description": "Retries a failed audience operation identified by its operation ID.",
        "operationId": "retryAudienceOperation",
        "parameters": [
          {
            "name": "audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceOperationResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "missing_access_token": {
                    "$ref": "#/components/examples/missing_access_token"
                  },
                  "access_denied": {
                    "$ref": "#/components/examples/access_denied"
                  },
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "payment_required": {
                    "$ref": "#/components/examples/payment_required"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "audience_operation_audience_not_found": {
                    "$ref": "#/components/examples/audience_operation_audience_not_found"
                  },
                  "audience_operation_operation_not_found": {
                    "$ref": "#/components/examples/audience_operation_operation_not_found"
                  },
                  "audience_operation_another_operation_in_progress": {
                    "$ref": "#/components/examples/audience_operation_another_operation_in_progress"
                  },
                  "retry_audience_operation_type_not_supported": {
                    "$ref": "#/components/examples/retry_audience_operation_type_not_supported"
                  },
                  "retry_audience_operation_state_not_allowed": {
                    "$ref": "#/components/examples/retry_audience_operation_state_not_allowed"
                  },
                  "missing_request_body": {
                    "$ref": "#/components/examples/missing_request_body"
                  },
                  "invalid_parameter": {
                    "$ref": "#/components/examples/invalid_parameter"
                  },
                  "invalid_json": {
                    "$ref": "#/components/examples/invalid_json"
                  },
                  "binding_error": {
                    "$ref": "#/components/examples/binding_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "method_unauthorized": {
                    "$ref": "#/components/examples/method_unauthorized"
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "unsupported_media_type": {
                    "$ref": "#/components/examples/unsupported_media_type"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestExceptionResponse"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/too_many_requests"
                  }
                }
              }
            }
          }
        },
        "x-extole-bundle": "management",
        "x-extole-visibility": "visible"
      }
    },
    "/v1/audiences/{audience_id}/operations/{operation_id}/state": {
      "get": {
        "tags": ["Audiences"],
        "summary": "Get audience operation state",
        "description": "Returns the current state of the specified audience operation, including progress counters and any error details.",
        "operationId": "getAudienceOperationState",
        "parameters": [
          {
            "name": "audience_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceOperationStateResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
[...]
